
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

table.table-list > caption {
  font-weight: bold;
  font-size: 22px;
}

table.foreign-keys {
  caption {
    font-weight: bold;
  }
  margin-bottom: 5px;
  background-color: inherit !important;
}

// Printing style
@media print
{
  .panel-default {border: none};
}